// Transactions

.transactions {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.max-width {
  max-width: 1000px;
}

.transaction-card {
  max-width: 250px;
  max-height: 250px;
}

.product-text h1 {
  text-align: center;
}