// Transactions

.transaction-image {
  height: 250px;
}

.transactions {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.transaction-form {
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
}