<div class="index-card">
  <% books.each do |book| %>
        <div class="card-trip">
        <img src="<%= book.poster_url %>" /> 
        <div class="card-trip-infos">
          <div class="infos">
            <h2><%= book.title %></h2>
            <p><%= book.author %></p>
          </div>
          <%= link_to "More info", book_path(book), class: "btn btn-ghost" %>
        </div>
      </div>
  <% end %>
</div>