  <% booking.each do |book| %>
    <div class="card-product">
      <img src="<%= book.poster_url %>" />
      <div class="card-product-infos">
        <p><%= book.title %></p>
      <p> <%= book.price %> €</p> 
      </div>
    </div>
  <% end %>