
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s1.1zoom.me/big0/368/Many_Book_Library_576433_1280x853.jpg);">>
  <div class="container">
  <div class="row justify-content-center padding">
        <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
            <form action="#" class="domain-form">
                <div class=" d-md-flex"> <input type="text" class="form-control px-4"  placeholder="Search your Book, BD, Manga..."> <input type="submit" class="btn btn-secondary px-5" value="Search"> </div>
            </form>
        </div>
    </div>
  </div>
</div>


<h2 class="title-home-page"> <%= link_to "DISCOVER OUR BOOKS", books_path, class: "btn btn-light" %> </h2>


<%= render "/shared/book_card", books: @books %>