<h1 style="font-family: 'Times New Roman',sans-serif; font-size: 40px; font-weight: 200; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;">ALL OUR BOOKS</h1>

<%= render "/shared/book_card", books: @books %>