.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.button {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #3C8DAD;
  padding: 10px;
  border-radius: 4px;
}
